@(faqs:List[models.faq.Faq])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_faq").click(function(){
    	location.href="/admin/faq/add"
    });
  });
</script>
}
@import views.html.admin._
@admin("试题管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_faq" class="button big green" value="添加FAQ问答">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>FAQ问答管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>问题</th>
            <th>答案</th>
            <th>审核状态</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        @for(i <- 0 to faqs.size()-1){
          <tr class="odd gradeX">
            <td>问: @faqs.get(i).question</td>
            <td class="center">答: @faqs.get(i).answer</td>
            <td>@if(faqs.get(i).status){已通过}else{未通过}</td>
            <td class="center">@faqs.get(i).create_date</td>
            <td class="center">
             <a href="">
             @if(!faqs.get(i).status){
             <a href="/admin/faq/audit/@faqs.get(i).code"><input type="button" class="button small green" value="审核通过"></a>
             }
             </a>
	         <a href="/admin/faq/edit/@faqs.get(i).code"><input type="button" class="button small blue" value="编辑"></a>
         	 <a href="/admin/faq/del/@faqs.get(i).code"><input type="button" class="button small red" value="删除"></a>
            </td>
          </tr>
          }
        </tbody>
      </table>
        </div>
      </div>
  </div>
}