@(art:models.article.Article,flag:Boolean)
@js_css={
<script type="text/javascript" src="/assets/admin/js/forms/jquery.validate.min.js"></script>
<script>
$(function(){
	$("#view_article").click(function(){
    	location.href="/admin/article"
    });
	$("#btn_submit").click(function(){
		$("#art_form").submit();
	});
	
});
</script>

<link href="/assets/ueditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/assets/ueditor/umeditor.config.js"></script>

<!--开发版-->
<script type="text/javascript" charset="utf-8" src="/assets/ueditor/editor_api.js"></script>
<script type="text/javascript" src="/assets/ueditor/lang/zh-cn/zh-cn.js"></script>
<style type="text/css">
    h1{
        font-family: "微软雅黑";
        font-weight: normal;
    }
</style>

}
@import views.html.admin._
@admin("文章管理",js_css){
<div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="view_article" class="button big blue" value="返回文章列表">
       </span>
     </div>
     <div class="box grid_12">
     @if(flag){
      <form id="art_form" action="/admin/article/create" method="post">
       <div class="box-head"><h2>添加文章</h2></div>
       <div class="box-content">
          <div class="form-row">
           <p class="form-label">文章标题:</p><div class="form-item"><input type="text" class="required" name="article_title" /></div>
          </div>
          
          <div class="form-row">
           <p class="form-label">文章内容:</p><div class="form-item">
           <script type="text/plain" name="article_content" id="myEditor" style="width:800px;height:240px;">的奋斗奋斗奋斗</script>
			<script type="text/javascript">
			    //创建一个在选中的图片单击时添加边框的插件，其实质就是在baidu.editor.plugins塞进一个闭包
			    UM.plugins["showmsg"] = function () {
			        var me = this;
			        //执行命令
			        me.commands["showmsg"] = {
			            execCommand:function () {
			                me.execCommand( "inserthtml",prompt('自定义插件实现插入内容:','请填写要插入的内容') );
			            }
			        };
			        //注册一个触发命令的事件，同学们可以在任意地放绑定触发此命令的事件
			        me.addListener( 'click', function () {
			            setTimeout(function(){
			                me.execCommand( "showmsg" );
			            })
			
			        } );
			    };
			
			    var ue = UM.getEditor('myEditor');
			</script>
           <textarea class="required" name="article_content"></textarea></div>
          </div>
          <div class="form-row">
           <p class="form-label">文章主题:</p><div class="form-item"><input type="text" name="article_subject"/></div>
          </div>
         
          <div class="form-row">
            <label class="form-label">文章分类:</label>
            <div class="form-item">
              <select>
                <option value='option1'>Waldo was here</option>
                <option value='option2'>Option 1</option>
                <option value='option3'>Option 2</option>
                <option value='option4'>Option 3</option>
              </select>
            </div>
         </div>
         
         <div class="form-row">
           <p class="form-label">作者:</p><div class="form-item"><input type="text" name="article_author"/></div>
          </div>
          
         <div class="form-row">
         	<div class="box grid_4"></div>
         	<div class="box grid_4">
          		<input id="btn_submit" type="button" class="button big green" value="确定">
          		<input type="button" class="button small red" value="取消">
          	</div>
         </div>
         <div class="clear"></div>
       </div>
       </form>
       }else{
       <form id="art_form" action="/admin/article/update" method="post">
       <div class="box-head"><h2>添加文章</h2></div>
       <div class="box-content">
          <div class="form-row">
           <p class="form-label">文章标题:</p><div class="form-item"><input type="text" class="required" name="article_title" value="@art.article_title"/></div>
          </div>
          
          <div class="form-row">
           <p class="form-label">文章内容:</p><div class="form-item"><textarea class="required" name="article_content">@art.article_content</textarea></div>
          </div>
          <div class="form-row">
           <p class="form-label">文章主题:</p><div class="form-item"><input type="text" name="article_subject" value="@art.article_subject"/></div>
          </div>
         
          <div class="form-row">
            <label class="form-label">文章分类:</label>
            <div class="form-item">
              <select>
                <option value='option1'>Waldo was here</option>
                <option value='option2'>Option 1</option>
                <option value='option3'>Option 2</option>
                <option value='option4'>Option 3</option>
              </select>
            </div>
         </div>
         
         <div class="form-row">
           <p class="form-label">作者:</p><div class="form-item"><input type="text" name="article_author" value="@art.article_author"/></div>
          </div>
          
         <div class="form-row">
         	<div class="box grid_4"></div>
         	<div class="box grid_4">
          		<input id="btn_submit" type="button" class="button big green" value="确定">
          		<input type="button" class="button small red" value="取消">
          	</div>
         </div>
         <div class="clear"></div>
       </div>
       </form>
       }
     </div>
</div>
}