@js_css={
<link rel="stylesheet" href="/assets/admin/css/iphone-check.css">
<script src="/assets/admin/js/forms/iphone-check.js"></script>
<script>
$(function() {
	$('#iphone-check').iphoneStyle();
	});
</script>

}
@import views.html.admin._
@admin("分类管理",js_css){
<div class="content container_12">
     <div class="box grid_3"></div> 

     <div class="box grid_6 ">
       <div class="box-head"><h2>添加新闻分类</h2></div><div class="box-content">
          <div class="form-row">
           <p class="form-label">新闻分类名称:</p><div class="form-item"><input type="text" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">新闻分类描述:</p><div class="form-item"><input type="text" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">是否为频道:</p><input checked type="checkbox" id="iphone-check" />
          </div>
          <div class="form-row">
            <label class="form-label">新闻分类:</label>
            <div class="form-item">
              <select>
                <option value='option1'>Waldo was here</option>
                <option value='option2'>Option 1</option>
                <option value='option3'>Option 2</option>
                <option value='option4'>Option 3</option>
              </select>
            </div>
         </div>
         <div class="form-row">
         	<div class="box grid_4"></div>
         	<div class="box grid_4">
          		<input type="button" class="button big green" value="确定">
          		<input type="button" class="button small red" value="取消">
          	</div>
         </div>
         <div class="clear"></div>
       </div>
     </div>
</div>
}