@(ns:List[models.news.News])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_news").click(function(){
    	location.href="/admin/news/add"
    });
    $("#view_news_category").click(function(){
    	location.href="/admin/news/category"
    });
  });
</script>
}
@import views.html.admin._
@admin("新闻管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_news" class="button big green" value="添加新闻">
          <input type="button" id="view_news_category" class="button big blue" value="返回新闻分类列表">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>新闻管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>新闻标题</th>
            <th>新闻作者</th>
            <th>新闻主题</th>
            <th>审核通过</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        @for(i<- 0 to ns.size()-1){
          <tr class="odd gradeX">
            <td>@ns.get(i).news_title</td>
            <td>@ns.get(i).news_author</td>
            <td class="center">@ns.get(i).news_subject</td>
            <td class="center">
            @if(ns.get(i).news_auditstatus){已通过}else{未通过}
            </td>
            <td class="center">@ns.get(i).news_date</td>
            <td class="center">
             @if(!ns.get(i).news_auditstatus){
                  <a href="/admin/news/audit/@ns.get(i).news_code"><input type="button" class="button small green" value="审核通过"></a>
              }
	         <a href="/admin/news/edit/@ns.get(i).news_code"><input type="button" class="button small blue" value="编辑"></a>
         	 <a href="/admin/news/del/@ns.get(i).news_code"><input type="button" class="button small red" value="删除"></a>
            </td>
          </tr>
          }
        </tbody>
      </table>
        </div>
      </div>
  </div>
}