@(ms:models.statistics.MainStat,lua:List[models.statistics.UserAgentStat])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
      var sin = [], cos = [];
      for (var i = 0; i < 14; i += 0.5) {
          sin.push([i, Math.sin(i)]);
          cos.push([i, Math.cos(i)]);
      }
      var plot = $.plot($("#flot-demo"),
             [ { data: sin, label: "Green", color: "#71a100"}, { data: cos, label: "Blue", color: "#308eef" } ], {
                 series: {
                     lines: { show: true },
                     points: { show: true }
                 },
                 grid: { hoverable: true },
                 yaxis: { min: -1.2, max: 1.2 }
               });
      var previousPoint = null;
      $("#flot-demo").bind("plothover", function (event, pos, item) {
          if ($("#enablePosition:checked").length > 0) {
              var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
              $("#hoverdata").text(str);
          }
      });
  });/* for the flot chart demo */

  $('#example').dataTable( {
      "bJQueryUI": true
  }); /* For the data tables */
</script>
}
@admin("dashboard",js_css){
  <div class="content container_12">
      <div class="ad-notif-info grid_12"><p>欢迎来到Adminity !你可以把我点击我!</p></div>
      <div class="box grid_3">
        <div class="box-head"><h2>简单的面板</h2></div>
        <div class="box-content">
          <p>This is a simple panel. All panels in Adminity are collapsible by clicking on the header.
          <br>
          Creating a panel like this one is very easy, 
          you only need 3 divs with classes 'box', 'box-head' and 'box-content'.
          <br><br>
          Adminity also includes a styler. Open it by clicking the eye icon near the logo. A tooltip will tell you what color each colorpicker changes.<br><br>
          <input type="button" class="button green" value="Read more" />
          </p>
        </div>
      </div>
      <div class="box grid_3">
        <div class="box-head"><span class="box-icon-24 fugue-24 counter"></span><h2>统计</h2></div>
        <div class="box-content ad-stats">
          <ul>
            <li><h3>@ms.article</h3> 文章总数</li>
            <li class="stats-up"><h3>@ms.news</h3> 新闻总数</li>
            <li class="stats-up"><h3>@ms.download</h3> 下载软件总数</li>
            <li class="stats-down"><h3>@ms.image</h3> 图片总数</li>
            <li class="stats-up"><h3>@ms.exam</h3> 试卷总数</li>
            <li class="stats-up"><h3>@ms.question</h3> 试题总数</li>
            <li class="stats-up"><h3>@ms.message</h3> 留言总数</li>
            <li class="stats-up"><h3>@ms.faq</h3> FAQ(帮助)总数</li>
            <li class="stats-up"><h3>@ms.administrator</h3> 管理员总数</li>
            <li class="stats-up"><h3>@ms.user</h3> 会员总数</li>
            <li class="stats-up"><h3>@ms.advertising</h3> 广告总数</li>
            <li class="stats-up"><h3>@ms.domain</h3> 域名(网站)总数</li>
          </ul>
        </div>
      </div>
      
      <div class="box grid_6">
        <div class="box-head"><span class="box-icon-24 fugue-24 system-monitor"></span><h2>图表分析</h2></div>
        <div class="box-content">
          <div id="flot-demo"></div>
        </div>
      </div>
      <div class="box grid_12">
        <div class="box-head"><h2>访问者的浏览器</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="example">
        <thead>
          <tr>
          	<th>操作系统(平台)</th>
            <th>浏览器</th>
            <th>浏览器版本</th>
          </tr>
        </thead>
        <tbody>
        @for(i <- 0 to lua.size()-1){
          <tr class="odd gradeX">
          	<td class="center">@lua.get(i).platform</td>
            <td class="center">@lua.get(i).brower</td>
            <td class="center">@lua.get(i).brower_version</td>
          </tr>
          }
        </tbody>
      </table>
        </div>
      </div>
  </div>
}



