<div class="header">
   <a href="dashboard.html"><img src="/assets/admin/img/logo.png" alt="Logo" /></a> 
   <div class="styler">
     <ul class="styler-show">
       <li><div id="colorSelector-top-bar"></div></li>
       <li><div id="colorSelector-box-head"></div></li>
     </ul>
   </div>
  </div>

  <div class="top-bar">
      <ul id="nav">
        <li id="user-panel">
          <img src="/assets/admin/img/nav/usr-avatar.jpg" id="usr-avatar" alt="" />
          <div id="usr-info">
            <p id="usr-name">你好,@session().get("real_name").</p>
            <!-- <p id="usr-notif">你有6条信息 <a href="#">查看</a></p> -->
            <p><!-- <a href="#">偏好设置</a><a href="#">Profile</a> --><a href="/admin/logout">退出</a></p>
          </div>
        </li>
        <li>
        <ul id="top-nav">
         <li class="nav-item">
           <a href="/admin/main"><img src="/assets/admin/img/nav/dash-active.png" alt="" /><p>主控页面</p></a>
         </li>
         <li class="nav-item">
           <a href="/admin/article/category"><img src="/assets/admin/img/nav/anlt.png" alt="" /><p>文章管理</p></a>
           <ul class="sub-nav">
            <li><a href="/admin/article/category/add">添加文章分类</a></li>
            <li><a href="/admin/article/add">添加文章</a></li>
           </ul>
         </li>
         <li class="nav-item">
           <a href="/admin/news/category"><img src="/assets/admin/img/nav/typ.png" alt="" /><p>新闻管理</p></a>
           <ul class="sub-nav">
            <li><a href="/admin/news/category/add">添加新闻分类</a></li>
            <li><a href="/admin/news/add">添加新闻</a></li>
           </ul>
         </li>
         <li class="nav-item">
           <a href="/admin/message"><img src="/assets/admin/img/nav/tb.png" alt="" /><p>信息(留言板)管理</p></a>
         </li>
         <li class="nav-item">
           <a href="/admin/exam"><img src="/assets/admin/img/nav/cal.png" alt="" /><p>试卷(题)管理</p></a>
         </li>
         <li class="nav-item">
           <a href="/admin/faq"><img src="/assets/admin/img/nav/typ.png" alt="" /><p>FAQ问答管理</p></a>
         </li>
         <li class="nav-item">
           <a href="/admin/user"><img src="/assets/admin/img/nav/widgets.png" alt="" /><p>用户管理</p></a>
           <ul class="sub-nav">
            <li><a href="/admin/administor/add">添加管理员</a></li>
            <li><a href="/admin/user/add">添加普通用户</a></li>
           </ul>
         </li>
         <li class="nav-item">
           <a href="/admin/system"><img src="/assets/admin/img/nav/grid.png" alt="" /><p>系统管理</p></a>
         </li>
         <li class="nav-item">
           <a href="/admin/advertising"><img src="/assets/admin/img/nav/flm.png" alt="" /><p>广告管理</p></a>
         </li>
         <li class="nav-item">
           <a href="/admin/image/category"><img src="/assets/admin/img/nav/gal.png" alt="" /><p>图片管理</p></a>
           <ul class="sub-nav">
            <li><a href="/admin/image/category/add">添加图片分类</a></li>
            <li><a href="/admin/image/add">添加图片</a></li>
           </ul>
         </li>
         <li class="nav-item">
           <a href="/admin/download/category"><img src="/assets/admin/img/nav/icn.png" alt="" /><p>下载管理</p></a>
           <ul class="sub-nav">
            <li><a href="/admin/download/category/add">添加下载分类</a></li>
            <li><a href="/admin/download/add">添加下载</a></li>
           </ul>
         </li>
         <li class="nav-item">
           <a href="#"><img src="/assets/admin/img/nav/err.png" alt="" /><p>错误页面</p></a>
           <ul class="sub-nav">
            <li><a href="/assets/admin/403.html">403 Page</a></li>
            <li><a href="/assets/admin/404.html">404 Page</a></li>
            <li><a href="/assets/admin/503.html">503 Page</a></li>
          </ul>
         </li>
         
       </ul>
      </li>
     </ul>
  </div>