@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_user").click(function(){
    	location.href="/admin/user/add"
    });
  });
</script>
}
@import views.html.admin._
@admin("用户管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_user" class="button big green" value="添加用户">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>用户管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>用户名</th>
            <th>真实姓名</th>
            <th>昵称</th>
            <th>手机号码</th>
            <th>电子邮箱</th>
            <th>管理员</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX">
            <td class="center">zhang</td>
            <td class="center">张鹏</td>
            <td class="center">那小子</td>
            <td class="center">18801011130</td>
            <td class="center">zp8360@@qq.com</td>
            <td class="center">否</td>
            <td class="center">2013/11/11 11:11:11</td>
            <td class="center">
             <input type="button" class="button small green" value="激活">
             <input type="button" class="button small green" value="修改密码">
	         <input type="button" class="button small blue" value="编辑">
         	 <input type="button" class="button small red" value="删除">
            </td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
  </div>
}