@(ladmin:List[models.users.Administrator])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_user").click(function(){
    	location.href="/admin/user/add"
    });
    $("#add_admin").click(function(){
    	location.href="/admin/administor/add"
    });
    $("#view_user").click(function(){
    	location.href="/admin/user"
    });
  });
</script>
}
@import views.html.admin._
@admin("用户管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
          <span>
          <input type="button" id="view_user" class="button big blue" value="查看普通用户列表">
       	  <input type="button" id="add_admin" class="button big green" value="添加管理员">
          <input type="button" id="add_user" class="button big green" value="添加普通用户">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>用户管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>用户名</th>
            <th>真实姓名</th>
            <th>手机号码</th>
            <th>电子邮箱</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        @for(i <- 0 to ladmin.size()-1){
          <tr class="odd gradeX">
            <td class="center">@ladmin.get(i).username</td>
            <td class="center">@ladmin.get(i).real_name</td>
            <td class="center">@ladmin.get(i).mobile</td>
            <td class="center">@ladmin.get(i).email</td>
            <td class="center">@ladmin.get(i).create_date</td>
            <td class="center">
             <input type="button" class="button small green" value="激活">
             <input type="button" class="button small green" value="修改密码">
	         <input type="button" class="button small blue" value="编辑">
         	 <input type="button" class="button small red" value="删除">
            </td>
          </tr>
          }
        </tbody>
      </table>
        </div>
      </div>
  </div>
}