@(username:String,flag:Boolean)
@js_css={
<link rel="stylesheet" href="/assets/admin/css/iphone-check.css">
<script src="/assets/admin/js/forms/iphone-check.js"></script>
<script type="text/javascript" src="/assets/admin/js/forms/jquery.validate.min.js"></script>
<script>
$(function() {
	$('#iphone-check').iphoneStyle();
	$("#user_form").validate();
	$("#btn_submit").click(function(){
		$("#user_form").submit();
	});
	});
</script>

}
@import views.html.admin._
@admin("添加普通用户",js_css){
<div class="content container_12">
     <div class="box grid_3"></div> 
     <div class="box grid_6 ">
       <form id="user_form" action="@if(flag){/admin/administor/modifypwd}else{/admin/user/modifypwd}" method="post">
       <div class="box-head"><h2>添加普通用户</h2></div><div class="box-content">
          <div class="form-row">
           <p class="form-label">用户名:</p><div class="form-item"><input type="text" name="username" class="required" value="@username"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">旧密码:</p><div class="form-item"><input type="password" name="old_password" class="required"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">新密码:</p><div class="form-item"><input type="password" name="password" class="required"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">确认密码:</p><div class="form-item"><input type="password" name="repassword" class="{required:true,equalTo:'#password'}"/></div>
          </div>
         <div class="form-row">
         	<div class="box grid_4"></div>
         	<div class="box grid_4">
          		<input type="button" id="btn_submit" class="button big green" value="确定">
          		<input type="button" class="button small red" value="取消">
          	</div>
         </div>
         <div class="clear"></div>
       </div>
       </form>
     </div>
</div>
}