@(ldc:List[models.download.DownloadCategory],dl:models.download.Download,flag:Boolean)
@js_css={
<script>
$(function(){
	$("#view_download").click(function(){
    	location.href="/admin/download"
    });
	$("#btn_submit").click(function(){
		$("#dl_form").submit();
	});
});
</script>
}
@import views.html.admin._
@admin("下载管理",js_css){
<div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="view_download" class="button big blue" value="返回下载列表">
       </span>
     </div>
     <div class="box grid_12">
     @if(flag){
     <form  id="dl_form" action="/admin/download/create" method="post">
       <div class="box-head"><h2>添加下载</h2></div><div class="box-content">
          <div class="form-row">
           <p class="form-label">软件名称:</p><div class="form-item"><input type="text" name="soft_name" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件描述:</p><div class="form-item"><input type="text" name="soft_desc" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件作者:</p><div class="form-item"><input type="text" name="soft_author" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件语言:</p><div class="form-item"><input type="text" name="soft_lang" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件大小:</p><div class="form-item"><input type="text" name="soft_size"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">操作系统:</p><div class="form-item"><input type="text" name="soft_sys"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件版本:</p><div class="form-item"><input type="text" name="soft_ver"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件类型:</p><div class="form-item"><input type="text" name="soft_type"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件下载地址:</p><div class="form-item"><input type="text" name="soft_url"/></div>
          </div>
         
          <div class="form-row">
            <label class="form-label">下载分类:</label>
            <div class="form-item">
              <select name="down_category_code">
              @if(ldc != null){
               @for(dc <- ldc){
                <option  value='@dc.dc_code'>@dc.dc_name</option>
                }
               }
              </select>
            </div>
         </div>
         <div class="form-row">
         	<div class="box grid_4"></div>
         	<div class="box grid_4">
          		<input type="button" id="btn_submit" class="button big green" value="确定">
          		<input type="button" class="button small red" value="取消">
          	</div>
         </div>
         <div class="clear"></div>
       </div>
       </form>
       } else {
       <form id="dl_form" action="/admin/download/update" method="post">
       <div class="box-head"><h2>添加下载</h2></div><div class="box-content">
          <div class="form-row">
           <p class="form-label">软件名称:</p><div class="form-item"><input type="text" name="soft_name" value="@dl.soft_name" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件描述:</p><div class="form-item"><input type="text" name="soft_desc" value="@dl.soft_desc"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件作者:</p><div class="form-item"><input type="text" name="soft_author" value="@dl.soft_author"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件语言:</p><div class="form-item"><input type="text" name="soft_lang" value="@dl.soft_lang"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件大小:</p><div class="form-item"><input type="text" name="soft_size" value="@dl.soft_size"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">操作系统:</p><div class="form-item"><input type="text" name="soft_sys" value="@dl.soft_sys"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件版本:</p><div class="form-item"><input type="text" name="soft_ver" value="@dl.soft_ver"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件类型:</p><div class="form-item"><input type="text" name="soft_type" value="@dl.soft_type"/></div>
          </div>
          <div class="form-row">
           <p class="form-label">软件下载地址:</p><div class="form-item"><input type="text" name="soft_url" value="@dl.soft_url"/></div>
          </div>
         
          <div class="form-row">
            <label class="form-label">下载分类:</label>
            <div class="form-item">
              <select name="down_category_code">
              @if(ldc != null){
               @for(dc <- ldc){
                <option  value='@dc.dc_code'>@dc.dc_name</option>
                }
               }
              </select>
            </div>
         </div>
         <div class="form-row">
         	<div class="box grid_4"></div>
         	<div class="box grid_4">
          		<input type="button" id="btn_submit" class="button big green" value="确定">
          		<input type="button" class="button small red" value="取消">
          	</div>
         </div>
         <div class="clear"></div>
       </div>
       </form>
       
       }
     </div>
</div>
}