@(ldc:List[models.download.DownloadCategory])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    
    $("#add_category").click(function(){
    	location.href="/admin/download/category/add"
    });
    $("#add_download").click(function(){
    	location.href="/admin/download/add"
    });
    $("#view_download").click(function(){
    	location.href="/admin/download"
    });
    
  });
</script>
}
@import views.html.admin._
@admin("下载分类管理",js_css){
<div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_category" class="button big green" value="添加下载分类">
          <input type="button" id="add_download" class="button big blue" value="添加下载软件">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>下载分类管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>分类名称</th>
            <th>分类描述</th>
            <th>父分类名称</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        @for(i <- 0 to ldc.size()-1){
          <tr class="odd gradeX">
            <td>@ldc.get(i).dc_name</td>
            <td>@ldc.get(i).dc_desc</td>
            <td class="center">@ldc.get(i).parent_dc_code</td>
            <td class="center">@ldc.get(i).create_date</td>
            <td class="center">
             <a href="/admin/download/view/@ldc.get(i).dc_code"><input type="button" id="view_download" class="button small orange" value="查看该分类的下载">
	         <a href="/admin/download/category/edit/@ldc.get(i).dc_code"><input type="button" class="button small blue" value="编辑"></a>
         	 <a href="/admin/download/category/del/@ldc.get(i).dc_code"><input type="button" class="button small red" value="删除"></a>
            </td>
          </tr>
          }
        </tbody>
      </table>
        </div>
      </div>
  </div>
}