@(ldl:List[models.download.Download])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_download").click(function(){
    	location.href="/admin/download/add"
    });
    $("#view_download_category").click(function(){
    	location.href="/admin/download/category"
    });
  });
</script>
}
@import views.html.admin._
@admin("下载管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_download" class="button big green" value="添加下载">
          <input type="button" id="view_download_category" class="button big blue" value="返回下载分类列表">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>下载管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>软件名称</th>
            <th>下载作者</th>
            <th>下载分类名称</th>
            <th>审核通过</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        @for(i <- 0 to ldl.size()-1){
          <tr class="odd gradeX">
            <td>@ldl.get(i).soft_name</td>
            <td>@ldl.get(i).soft_author</td>
            <td class="center">@ldl.get(i).down_category_code</td>
            <td class="center">@ldl.get(i).soft_status</td>
            <td class="center">@ldl.get(i).create_date</td>
            <td class="center">
            @if(!@ldl.get(i).soft_status){
             <input type="button" class="button small green" value="审核通过">
             }
	         <input type="button" class="button small blue" value="编辑">
         	 <input type="button" class="button small red" value="删除">
            </td>
          </tr>
          }
        </tbody>
      </table>
        </div>
      </div>
  </div>
}