@js_css={
<script>
$(function(){
	$("#view_advertising").click(function(){
    	location.href="/admin/advertising"
    });
});
</script>
}
@import views.html.admin._
@admin("广告管理",js_css){
<div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="view_advertising" class="button big green" value="返回广告列表">
       </span>
     </div>
     <div class="box grid_12 ">
       <div class="box-head"><h2>添加广告</h2></div><div class="box-content">
          <div class="form-row">
           <p class="form-label">广告名称:</p><div class="form-item"><input type="text" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">广告位置:</p><div class="form-item"><input type="text" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">广告商:</p><div class="form-item"><input type="text" /></div>
          </div>
          <div class="form-row">
           <p class="form-label">广告内容:</p><div class="form-item"><input type="text" /></div>
          </div>
          
         <div class="form-row">
         	<div class="box grid_4"></div>
         	<div class="box grid_4">
          		<input type="button" class="button big green" value="确定">
          		<input type="button" class="button small red" value="取消">
          	</div>
         </div>
         <div class="clear"></div>
       </div>
     </div>
</div>
}