@(lad:List[models.advertising.Advertising])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_advertising").click(function(){
    	location.href="/admin/advertising/add"
    });
  });
</script>
}
@import views.html.admin._
@admin("广告管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_advertising" class="button big green" value="添加广告">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>广告管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>广告名称</th>
            <th>广告位置</th>
            <th>广告商</th>
            <th>是否上线</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        @for(i <- 0 to lad.size()-1){
          <tr class="odd gradeX">
            
            <td class="center">@lad.get(i).ad_name</td>
            <td class="center">@lad.get(i).ad_position</td>
            <td class="center">@lad.get(i).ad_type</td>
            <td>@if(lad.get(i).online){已上线}else{未上线}</td>
            <td class="center">@lad.get(i).create_date</td>
            <td class="center">
            @if(lad.get(i).online){
             <a href="/admin/advertising/offline/@lad.get(i).ad_code"><input type="button" class="button small green" value="下线"></a>
             } else {
             <a href="/admin/advertising/online/@lad.get(i).ad_code"><input type="button" class="button small green" value="上线"></a>
             }
	         <a href="/admin/advertising/edit/@lad.get(i).ad_code"><input type="button" class="button small blue" value="编辑"></a>
         	 <a href="/admin/advertising/del/@lad.get(i).ad_code"><input type="button" class="button small red" value="删除"></a>
            </td>
          </tr>
        </tbody>
        }
      </table>
        </div>
      </div>
  </div>
}