@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_advertising").click(function(){
    	location.href="/admin/advertising/add"
    });
  });
</script>
}
@import views.html.admin._
@admin("广告管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_advertising" class="button big green" value="添加广告">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>广告管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
            <th>广告名称</th>
            <th>广告位置</th>
            <th>广告商</th>
            <th>广告内容</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX">
            <td>400*800-banner广告</td>
            <td class="center">页面顶部</td>
            <td class="center">百度</td>
            <td class="center">400*800</td>
            <td class="center">2013/11/11 11:11:11</td>
            <td class="center">
             <input type="button" class="button small green" value="审核通过">
	         <input type="button" class="button small blue" value="编辑">
         	 <input type="button" class="button small red" value="删除">
            </td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
  </div>
}