@(lq:List[models.question.Question])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_question").click(function(){
    	location.href="/admin/question/add"
    });
    $("#view_exam").click(function(){
    	location.href="/admin/exam"
    });
  });
</script>
}
@import views.html.admin._
@admin("试题管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_question" class="button big green" value="添加试题">
          <input type="button" id="view_exam" class="button big purple" value="返回试卷列表">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>试题管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
          	<th>试卷</th>
            <th>试题</th>
            <th>选择A</th>
            <th>选择B</th>
            <th>选择C</th>
            <th>选择D</th>
            <th>正确答案</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        @for(i <- 0 to lq.size()-1){
          <tr class="odd gradeX">
          	<td>@lq.get(i).exam_code</td>
            <td>问: @lq.get(i).qtitle</td>
            <td class="center">@lq.get(i).qoptionA</td>
            <td class="center">@lq.get(i).qoptionB</td>
            <td class="center">@lq.get(i).qoptionC</td>
            <td class="center">@lq.get(i).qoptionD</td>
            <td class="center">@lq.get(i).qright</td>
            <td class="center">@lq.get(i).create_date</td>
            <td class="center">
            @if(!lq.get(i).status){
             <a href="/admin/question/audit/@lq.get(i).q_code"><input type="button" class="button small green" value="审核通过"></a>
             }
	         <a href="/admin/question/edit/@lq.get(i).q_code"><input type="button" class="button small blue" value="编辑"></a>
         	 <a href="/admin/question/del/@lq.get(i).q_code"><input type="button" class="button small red" value="删除"></a>
            </td>
          </tr>
          }
        </tbody>
      </table>
        </div>
      </div>
  </div>
}