@(lq:List[models.question.Question])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_question").click(function(){
    	location.href="/admin/question/add"
    });
    $("#view_exam").click(function(){
    	location.href="/admin/exam"
    });
  });
</script>
}
@import views.html.admin._
@admin("试题管理",js_css){
 <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_question" class="button big green" value="添加试题">
          <input type="button" id="view_exam" class="button big purple" value="返回试卷列表">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>试题管理</h2></div>
        <div class="box-content no-pad">
        <table class="display" id="dt3">
        <thead>
          <tr>
          	<th>试卷</th>
            <th>试题</th>
            <th>选择A</th>
            <th>选择B</th>
            <th>选择C</th>
            <th>选择D</th>
            <th>正确答案</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX">
          	<td>试卷A</td>
            <td>问: System.out.println("Hello"),输出什么?</td>
            <td class="center">Hello</td>
            <td class="center">Hel</td>
            <td class="center">Helloo</td>
            <td class="center">Hell</td>
            <td class="center">A</td>
            <td class="center">2013/11/11 11:11:11</td>
            <td class="center">
             <input type="button" class="button small green" value="审核通过">
	         <input type="button" class="button small blue" value="编辑">
         	 <input type="button" class="button small red" value="删除">
            </td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
  </div>
}