@(limg:List[models.image.Image])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/jquery.lightbox-0.5.css">
<script src="/assets/admin/js/jquery.lightbox-0.5.pack.js"></script>
<script>
$(function() {
  $('#gallery a').lightBox(); // Select all links in object with gallery ID
  $("#add_image").click(function(){
  	location.href="/admin/image/add"
  });
  $("#view_image_category").click(function(){
  	location.href="/admin/image/category"
  });
});
</script>
}
@import views.html.admin._
@admin("图片管理",js_css){
 <div class="content container_12">
   <div class="sm-box grid_12">
       <span>
          <input type="button" id="add_image" class="button big green" value="添加图片">
          <input type="button" id="view_image_category" class="button big blue" value="返回图片分类列表">
       </span>
    </div>
    <div class="box grid_12">
      <div class="box-head"><h2>图库</h2></div>
        <div class="box-content" id="gallery">
        @for(img <- limg){
          <a href="@if(img.image_type=="url"){@img.image_url}else{/assets/@img.image_path@img.image_file_name}"><img src="@if(img.image_type=="url"){@img.image_url}else{/assets/@img.image_path@img.image_file_name}" width="72" height="72" alt="" /></a>
          }
        </div>
    </div>
  </div>
}