@(lmsg:List[models.message.Message])
@js_css={
<link rel="stylesheet" href="/assets/admin/css/tables.css">
<script> /* SCRIPTS */
  $(function () {
    $('#dt3').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers"   
    }); /* For the data tables */
    $("#add_message").click(function(){
    	location.href="/admin/message/add"
    });
  });
</script>
}
@import views.html.admin._
@admin("信息(留言)管理",js_css){
  <div class="content container_12">
	<div class="sm-box grid_12">
       <span>
          <input type="button" id="add_message" class="button big green" value="添加信息(留言)">
       </span>
     </div>
      <div class="box grid_12">
        <div class="box-head"><h2>信息(留言板)管理</h2></div>
        <div class="box-content no-pad">
	     <table class="display" id="dt3">
	        <thead>
	          <tr>
	            <th>姓名</th>
	            <th>手机</th>
	            <th>邮箱</th>
	            <th>信息(留言)</th>
	            <th>审核状态</th>
	            <th>创建时间</th>
	            <th>操作</th>
	          </tr>
	        </thead>
	        <tbody>
	          @for(i <- 0 to lmsg.size()-1 ){
	          <tr class="odd gradeX">
	            <td class="center">@lmsg.get(i).name</td>
	            <td class="center">@lmsg.get(i).mobile</td>
	            <td class="center">@lmsg.get(i).email</td>
	            <td class="center">@lmsg.get(i).message</td>
	            <td class="center">
	            @if(lmsg.get(i).status){已通过}else{未通过}
	            </td>
	            <td class="center">@lmsg.get(i).create_date</td>
	            <td class="center">
	            @if(!lmsg.get(i).status){
	             <a href="/admin/message/audit/@lmsg.get(i).msg_code" ><input type="button" class="button small green" value="审核通过"></a>
	             }
		         <a href="/admin/message/edit/@lmsg.get(i).msg_code" ><input type="button" class="button small blue" value="编辑"></a>
	         	 <a href="/admin/message/del/@lmsg.get(i).msg_code" ><input type="button" class="button small red" value="删除"></a>
	            </td>
	          </tr>
	          }
	        </tbody>
	      </table>
        </div>
      </div>
  </div>
}